#########
#Exclude all
#########
*
!*/
!.gitignore

.DS_Store

!Biblio/*.bst
!Biblio/*.bib

!Style/*.sty
!Style/*.cfg
!Style/*.cls

!Tex/*.tex

!Img/*.pdf
!Img/*.png
!Img/*.jpg
!Img/*.eps
!Img/*.tif
!Img/*.bmp
!Img/*.gif

!Thesis.tex               
!README.md
!论文进度记录.md             
!artratex.bat           
!artratex.sh            
!模板使用说明.pdf

!Tmp/
Tmp/*
!Tmp/Thesis.pdf

!tex_pic/
!tex_pic/*.sh
!tex_pic/*.tex

!终稿.pdf